@charset "UTF-8";

/*
  Author: ✰ Konstantin Aleksandrov ✰ https://github.com/koalex

  File Structure :
    1.  Name
    	1.1. Sub-name
*/

/************************
  1. Name
************************/

/* 1.1  Sub-name */
.widget-preloader
  display block !important
  &_hidden
    display none !important